language: android
android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.3
    - android-29
    - addon-google_apis-google-29
    - extra-google-m2repository
    - extra-android-m2repository
- run:
      name: chmod permissions
      command: chmod +x ./gradlew
script:
  - ./gradlew test
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/